.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tile:last-child {
    background-color: red;
    color: white;
}

.tile:hover {
    background-color: red;
}

.tile:active {
    background-color: red;
}
