.tile {
    height: 500px;
    display: grid;
    grid:
        "tile-action-bar" 20px
        "tile-main-content" 1fr
        / 1fr;
    background-color: #cccccc33;
    border: 2px outset #87fa52;
}

.add-tile {
    height: 500px;
    color: white;
    background-color: lightblue;
    cursor: pointer;
}

.add-tile:hover {
    background-color: lightskyblue;
}

.tile-action-bar {
    background-color: #555;
    border: 1px solid #222;
    border-bottom: 2px ridge #222;
}

.tile-main-content {
    display: grid;
    grid:
        "tile-main-panel tile-side-panel" 1fr
        / 0.65fr 0.35fr;
}

.tile-main-panel {
    display: grid;
    grid:
        "tile-balance" 50px
        "tile-candles" 1fr
        / 1fr;
}

.tile-side-panel {
    display: grid;
    grid:
        "tile-portfolio" 1fr
        "tile-status" 50px
        / 1fr;
}

.tile-balance {
    color: whitesmoke;
    margin-left: 5px;
}

.tile-net {
    font-size: 36px;
    margin-right: 8px;
}

.tile-daily {
    font-size: 24px;
}

.tile-candles {
    border: 1px solid red;
}

.tile-portfolio-table {
    height: 100%;
    width: 100%;
    text-align: right;
    border: 2px outset #222;
    overflow-y: scroll;
}

.tile-portfolio-table th {
    font-size: 14px;
    font-weight: bold;
}

.tile-portfolio-table tr {
    display: block;
    height: min-content;
    width: 100%;
}

.tile-portfolio-table td {
    font-size: 11px;
    font-weight: bold;
}