.tile {
    height: 500px;
    display: grid;
    grid:
        "tile-action-bar" 20px
        "tile-main-content" 1fr
        / 1fr;
    background-color: #cccccc33;
    border: 2px outset #87fa52;
}

.add-tile {
    height: 500px;
    color: white;
    background-color: lightblue;
    cursor: pointer;
}

.add-tile:hover {
    background-color: lightskyblue;
}

.tile-action-bar {
    background-color: #555;
    border: 1px solid #222;
    border-bottom: 2px ridge #222;
}

.tile-main-content {
    display: grid;
    grid:
        "tile-main-panel tile-side-panel" 1fr
        / 0.65fr 0.35fr;
}

.tile-main-panel {
    display: grid;
    grid:
        "tile-balance" 50px
        "tile-candles" 1fr
        / 1fr;
}

.tile-side-panel {
    display: grid;
    grid:
        "tile-portfolio" 1fr
        "tile-status" 50px
        / 1fr;
}

.tile-balance {
    color: whitesmoke;
    font-weight: 700;
    margin-left: 5px;
}

.tile-net {
    font-size: 40px;
    margin-right: 8px;
}

.tile-daily {
    font-size: 28px;
    margin-left: 5px;
}

.tile-candles {
    height: 430px;
    border: 1px solid red;
    overflow: auto;
}

.tile-portfolio {
    border: 2px outset #222;
}

.tile-portfolio-table {
    height: fit-content;
    width: 100%;
    text-align: right;
    border-collapse: collapse;
}

.tile-portfolio-table tr {
    border-bottom: 1px solid black;
}

.tile-portfolio-table th {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.tile-portfolio-table td {
    font-size: 11px;
    font-weight: bold;
}

.tile-portfolio-table th:nth-child(1),
.tile-portfolio-table td:nth-child(1) {
    text-align: left;
    width: 15%;
}

.tile-portfolio-table th:nth-child(2),
.tile-portfolio-table td:nth-child(2) {
    width: 25%;
}

.tile-portfolio-table th:nth-child(3),
.tile-portfolio-table td:nth-child(3) {
    width: 20%;
}

.tile-portfolio-table th:nth-child(4),
.tile-portfolio-table td:nth-child(4) {
    width: 40%;
}

.tile-portfolio-table tbody tr:nth-child(odd) {
    background-color: #383838;
}